<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<hr />
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<hr />
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQLinStoredProcedure">Dynamic SQL in Stored Procedure</a>
</li>